/* Estilos gerais */
body {
    font-family: 'Roboto', sans-serif; /* Fonte moderna */
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 32px; /* Aumentei o tamanho do título */
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.cupcake-list {
    list-style: none;
    padding: 0;
}

.cupcake-item {
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cupcake-image-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cupcake-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.cupcake-details {
    text-align: center;
}

.cupcake-details p {
    margin: 5px 0;
}

a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Estilos para o link "Editar" */
a.edit-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 16px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    border: 2px solid transparent;
    background-color: #ff6b6b; /* Cor mais moderna */
    display: inline-block;
    margin-top: 10px;
}

a.edit-link:hover {
    background-color: #ff4d4d; /* Mudança de cor no hover */
    margin-top: 12px;
}